.card-text {
    margin-top: 20px;
    /* font-style: italic; */
}

.authorName {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.subContainer {
    margin-bottom: 80px;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.DanBrownKopce {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.alexanderKopce {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}